@media (max-width: 480px) {
  .container {
    justify-content: center !important;
    flex-direction: column;
  }
  .footer {
    margin-bottom: 0 !important;
  }
  .timeWrapper {
    margin-top: 1rem;
  }
}

@media (max-width: 770px) {
  .margin {
    margin-bottom: 0 !important;
  }
}
